<section>
      <div class="content">
            <div class="row">
                  <div class="col-lg-4">
                        <div class="hpanel hgreen">
                              <div class="panel-heading hbuilt">
                                    <div class="panel-tools">
                                          <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                    </div>
                                    Introduction Angular 6 et 2
                              </div>
                              <div class="panel-body">
                                    <p>
                                          <label class="control-label">Vidéo : </label>&nbsp;
                                          <select [(ngModel)]="IntroductionAngular6.itemSelected" (change)="IntroductionAngular6.selectedItem()">
                                                <option *ngFor="let item of IntroductionAngular6.listItem();let i = index" value={{item.id}}>{{
                                                      i + 1 }} - {{ item.titre}}</option>
                                          </select>
                                    </p>
                                    <p>
                                          <iframe style="width:100%;" height="315" [src]="IntroductionAngular6.url" frameborder="1" allow="autoplay; encrypted-media"
                                                allowfullscreen></iframe>
                                    </p>
                                    <p class="titre">
                                          <span>{{IntroductionAngular6.count}} - {{IntroductionAngular6.titre}}</span>
                                    </p>
                                    <p>
                                          <button type="button" class="btn btn-primary" id="previous" (click)="IntroductionAngular6.previous()">Précédent</button>
                                          <button type="button" class="btn btn-primary" id="next" (click)="IntroductionAngular6.next()">Suivant</button>
                                    </p>

                              </div>
                        </div>
                  </div>
                  <div class="col-lg-4">
                        <div class="hpanel hgreen">
                              <div class="panel-heading hbuilt">
                                    <div class="panel-tools">
                                          <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                    </div>
                                    Introduction Angular 2
                              </div>
                              <div class="panel-body">
                                    <p>
                                          <label class="control-label">Vidéo : </label>&nbsp;
                                          <select [(ngModel)]="IntroductionAngular2.itemSelected" (change)="IntroductionAngular2.selectedItem()">
                                                <option *ngFor="let item of IntroductionAngular2.listItem();let i = index" value={{item.id}}>{{
                                                      i + 1}} - {{ item.titre}}</option>
                                          </select>
                                    </p>
                                    <p>
                                          <iframe style="width:100%;" height="315" [src]="IntroductionAngular2.url" frameborder="1" allow="autoplay; encrypted-media"
                                                allowfullscreen></iframe>
                                    </p>
                                    <p class="titre">
                                          <span>{{IntroductionAngular2.count}} - {{IntroductionAngular2.titre}}</span>
                                    </p>
                                    <p>
                                          <button type="button" class="btn btn-primary" id="previous" (click)="IntroductionAngular2.previous()">Précédent</button>
                                          <button type="button" class="btn btn-primary" id="next" (click)="IntroductionAngular2.next()">Suivant</button>
                                    </p>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="col-lg-4">
                        <div class="hpanel hgreen">
                              <div class="panel-heading hbuilt">
                                    <div class="panel-tools">
                                          <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                    </div>
                                    REST API (Node, Express & Mongo)
                              </div>
                              <div class="panel-body">
                                    <p>
                                          <label class="control-label">Vidéo : </label>&nbsp;
                                          <select [(ngModel)]="RestAPI.itemSelected" (change)="RestAPI.selectedItem()">
                                                <option *ngFor="let item of RestAPI.listItem();let i = index" value={{item.id}}>{{
                                                      i + 1 }} - {{ item.titre}}</option>
                                          </select>
                                    </p>
                                    <p>
                                          <iframe style="width:100%;" height="315" [src]="RestAPI.url" frameborder="1" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    </p>
                                    <p class="titre">
                                          <span>{{RestAPI.count}} - {{RestAPI.titre}}</span>
                                    </p>
                                    <p>
                                          <button type="button" class="btn btn-primary" id="previous" (click)="RestAPI.previous()">Précédent</button>
                                          <button type="button" class="btn btn-primary" id="next" (click)="RestAPI.next()">Suivant</button>
                                    </p>
                              </div>
                        </div>
                  </div>
                  <div class="col-lg-4">
                        <div class="hpanel hgreen">
                              <div class="panel-heading hbuilt">
                                    <div class="panel-tools">
                                          <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                    </div>
                                    Webpack Tutorials for Beginners
                              </div>
                              <div class="panel-body">
                                    <p>
                                          <label class="control-label">Vidéo : </label>&nbsp;
                                          <select [(ngModel)]="Webpack.itemSelected" (change)="Webpack.selectedItem()">
                                                <option *ngFor="let item of Webpack.listItem();let i = index" value={{item.id}}>{{
                                                      i + 1}} - {{ item.titre}}</option>
                                          </select>
                                    </p>
                                    <p>
                                          <iframe style="width:100%;" height="315" [src]="Webpack.url" frameborder="1" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    </p>
                                    <p class="titre">
                                          <span>{{Webpack.count}} - {{Webpack.titre}}</span>
                                    </p>
                                    <p>
                                          <button type="button" class="btn btn-primary" id="previous" (click)="Webpack.previous()">Précédent</button>
                                          <button type="button" class="btn btn-primary" id="next" (click)="Webpack.next()">Suivant</button>
                                    </p>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>