<article>
   <form (ngSubmit)="onSubmit()" #shoppingCartForm="ngForm">
    <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!shoppingCartForm.form.valid || !itemExiste">Ajouter au panier</button>
    </div>
    <div class="form-group" style="width:15%;">
         <label for="categorie">Catégorie {{nomCategorie}}</label>
         <select class="form-control" id="categorie" name="categorie" required #category="ngModel" [(ngModel)]="categorieId" (change)="selectCategorie()">
                 <option [disabled]="true" value="">--Sélectionner--</option>
                 <option *ngFor="let categorie of categories" [value]="categorie._id">{{categorie.nom}}</option>
         </select>
         <div [hidden]="category.valid" class="alert alert-danger">La catégorie est obligatoire</div>
    </div>
    <div *ngIf="itemExiste">
        <div class="hpanel hblue" *ngFor="let categorie of shoppingCartCategories | filtreCategory:category.value">
            <div class="panel-heading hbuilt"><strong>{{categorie.nom}}</strong></div>
            <div class="panel-body">
                <app-shopping-cart-produit [categorieId]='categorie._id' (notify)='onNotify($event)' (notifyQte)="onNotifyQte($event)"></app-shopping-cart-produit>
            </div>
        </div>
    </div>
  </form>
</article>
