<article class="col-sm-4">
    <h1>{{titre}} le produit</h1>
    <form (ngSubmit)="onSubmit()" #produitForm="ngForm">
         <div class="form-group">
             <label for="nom">Nom</label>
             <input type="text" class="form-control" id="nom" name="nom" #nom="ngModel" required [(ngModel)]="model.nom" [pattern]="nodigitPattern">
             <div *ngIf="nom.errors">
                   <div [hidden]="!nom.errors.required || nom.pristine" class="alert alert-danger">
                         Nom est obligatoire
                   </div>
                   <div [hidden]="!nom.errors.pattern" class="alert alert-danger">
                         Nom contient seulement des caractères
                   </div>
             </div>
         </div>
         <div class="form-group">
              <label for="categorie">Catégorie</label>
              <select class="form-control" id="categorie" name="categorie" required #category="ngModel" [(ngModel)]="categorieId" (change)="selectCategorie()">
                      <option [disabled]="true" value="">--Sélectionner--</option>
                      <option *ngFor="let categorie of categories" [value]="categorie._id">{{categorie.nom}}</option>
              </select>
              <div [hidden]="category.valid" class="alert alert-danger">Catégorie est obligatoire</div>
         </div>
         <div class="form-group">
              <label for="fournisseur">Fournisseur</label>
              <select class="form-control" id="fournisseur" name="fournisseur" required #supplier="ngModel" [(ngModel)]="fournisseurId" (change)="selectFournisseur()">
                      <option [disabled]="true" value="">--Sélectionner--</option>
                      <option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur._id">{{fournisseur.compagnie}}</option>
              </select>
              <div [hidden]="supplier.valid" class="alert alert-danger">Fournisseur est obligatoire</div>
         </div>
         <div class="form-group">
              <label for="qty">Quantité</label>
              <input type="text" class="form-control" id="qty" name="qty" #qty="ngModel" [(ngModel)]="model.quantite" required [pattern]="digitPattern">
              <div *ngIf="qty.errors">
                    <div [hidden]="!qty.errors.required || qty.pristine" class="alert alert-danger">
              			      Quantité est obligatoire
              			</div>
                    <div [hidden]="!qty.errors.pattern" class="alert alert-danger">
              				    Quantité doit être digit
              			</div>
              </div>
         </div>
         <div class="form-group">
              <label for="prix">Prix</label>
              <input type="text" class="form-control" id="prix" name="prix" #prix="ngModel" [(ngModel)]="model.prix" required [pattern]="decimalPattern">
              <div *ngIf="prix.errors">
                    <div [hidden]="!prix.errors.required || prix.pristine" class="alert alert-danger">
                          Prix est obligatoire
                    </div>
                    <div [hidden]="!prix.errors.pattern" class="alert alert-danger">
                          Prix doit être décimal
                    </div>
              </div>
         </div>
         <div class="form-group">
              <label for="quantiteRestante">Quantité restante</label>
              <input type="text" class="form-control" id="quantiteRestante" name="quantiteRestante" #quantiteRestante="ngModel" [(ngModel)]="model.quantiteRestante" [pattern]="digitPattern">
              <div *ngIf="quantiteRestante.errors">
                  <div [hidden]="!quantiteRestante.errors.pattern" class="alert alert-danger">
                        Quantité restante doit être digit
                  </div>
               </div>
         </div>
         <div class="form-group">
              <label for="quantiteCommande">Quantité commandée</label>
              <input type="text" class="form-control" id="quantiteCommande" name="quantiteCommande" #quantiteCommande="ngModel" [(ngModel)]="model.quantiteCommande" [pattern]="digitPattern">
              <div *ngIf="quantiteCommande.errors">
                  <div [hidden]="!quantiteCommande.errors.pattern" class="alert alert-danger">
                        Quantité de commande doit être digit
                  </div>
              </div>
         </div>
         <div class="form-group">
              <label for="reapprovisionnement">Réapprovisionnement</label>
              <input type="text" class="form-control" id="reapprovisionnement" name="reapprovisionnement" #reapprovisionnement="ngModel" [(ngModel)]="model.reapprovisionnement" [pattern]="digitPattern">
              <div *ngIf="reapprovisionnement.errors">
                  <div [hidden]="!reapprovisionnement.errors.pattern" class="alert alert-danger">
                        Quantité réapprovisionnement doit être digit
                  </div>
              </div>
         </div>
         <div class="hpanel hblue">
               <div class="panel-heading hbuilt"><strong>Discontinue</strong></div>
               <div class="panel-body" style="height:60px;">
                   <div class="form-group">
                      <label class="form-check-inline">
                          <input class="form-check-input" type="radio" name="discontinue" [value]="true" [(ngModel)]="model.discontinue">&nbsp;Oui
                      </label>&nbsp;&nbsp;
                      <label class="form-check-inline">
                           <input class="form-check-input" type="radio" name="discontinue" [value]="false" [(ngModel)]="model.discontinue">&nbsp;Non
                       </label>
                    </div>
               </div>
         </div>
         <div class="form-group">
              <input type="hidden" class="form-control" id="active" [(ngModel)]="model.active" name="active">
         </div>
         <button type="submit" class="btn btn-success" [disabled]="!produitForm.form.valid">
                <i class="fa fa-check-square-o" style="font-size:24px;float:left;"></i>
                <span style="margin-left:5px;font-weight:bold;font-size:18px;">OK</span>
         </button>&nbsp;
         <button class="btn btn-success" onclick="window.location.href='admin/produit';return false;">
                 <i class="fa fa-backward" style="font-size:24px;float:left;"></i>
                 <span style="margin-left:5px;font-weight:bold;font-size:18px;">BACK</span>
        </button>
    </form>
</article>
