<article>
    <form  (ngSubmit)="onSubmit()" #distributriceForm="ngForm">
        <div class="row">
          <div class="col-md-2" ><img src="./assets/images/distributrice.jpg"  style="width:180px;" /></div>
          <div class="col-md-2">
               <div *ngFor="let item of produits; let i = index">
                     <input type="radio" name="produit" value="{{i}}" (click)="choisir($event)" />&nbsp;{{item.nom}}
              </div>
          </div>
          <div class="col-md-3" *ngIf="isSelectedProduct" style="max-height:160px;">
                <img style="max-height:150px;" src="{{produits[i].path}}" />
                <h5>{{produits[i].nom}} - ({{ produits[i].prix | currency }})</h5>
          </div>
        </div><br>
        <div class="row">
             <div class="col-md-1" style="width:80px;">
                 <label style="padding:5px;height:22px;">Total</label>
             </div>
             <div class="col-md-2">
                  <label style="background-color:blue;color:white;padding:5px;height:28px;width:80px;">{{montant | currency}}</label>
             </div>
         </div>
          <div class="row" style="margin-bottom:10px;">
                <div class="col-md-1" style="width:80px;margin-top:8px;">
                   <label for="depot">Monnaie</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group m-b">
                     <span class="input-group-addon">$</span>
                     <input type="text" class="form-control" name="depot" [disabled]="ProduitNotSelect"  maxlength="5" #depotMontant="ngModel" required [(ngModel)]="depot" [pattern]="decimalPattern" />
                   </div>
                   <div *ngIf="depotMontant.errors" style="margin-top:-15px;">
                         <div [hidden]="!depotMontant.errors.required || depotMontant.pristine" class="alert alert-danger">
                               Montant est obligatoire
                         </div>
                         <div [hidden]="!depotMontant.errors.pattern" class="alert alert-danger">
                               Montant doit être décimal ou digit
                         </div>
                   </div>
                </div>
                <div class="col-md-2">
                        <button type="submit" class="btn btn-success" [disabled]="!distributriceForm.form.valid">OK</button>
                </div>
          </div>
           <div class="row">
               <div class="col-md-7">
                    <label *ngIf="insuffisant > 0" style="color:red;">Désolé! Il manque ${{ insuffisant | number:'1.2-2' }}</label>
                    <label *ngIf="surplus > 0" style="color:green;">Transaction complété. Montant à rendre de ${{ surplus | number:'1.2-2' }}</label>
                    <label *ngIf="messages.isMatch" style="color:green;">Transaction complété.</label>
                    <label *ngIf="messages.isEmpty" style="color:red;">Erreur! Vous devez entrer un montant.</label>
                    <label *ngIf="messages.isNotDigit" style="color:red;">Erreur! Le montant doit être un digit.</label>
                    <label *ngIf="messages.isSelectedProduct" style="color:red;">Erreur! Vous devez sélectionner le produit.</label>
               </div>
           </div>
     </form>
</article>
