<section>
    <div class="content">
        <div class="row">
            <div class="hpanel hblue col-md-6">
                <div class="panel-heading hbuilt"><strong>Hello world</strong></div>
                <div class="panel-body">
                    <h2>Bienvenue à {{ name }}</h2>
                    <h2>{{ 2 + 2}}</h2>
                    <h2>{{ "Bienvenue à " + name}}</h2>
                    <h2>{{name.length}}</h2>
                    <h2>{{name.toUpperCase()}}</h2>
                    <h2>{{ doIt() }}</h2>
                    <h2>{{ Url }}</h2>
                </div>
            </div>
        </div>
    </div>
</section>