<section>
      <form (ngSubmit)="onSubmit()" #distributriceForm="ngForm">
            <div class="content">
                  <div class="row">
                        <div class="hpanel hblue col-md-8">
                              <div class="panel-heading hbuilt"><strong>Distributrice</strong></div>
                              <div class="panel-body">
                                    <div class="row">
                                          <div class="col-md-3">
                                                <img src="./assets/images/distributrice.jpg" style="width:180px;" />
                                          </div>
                                          <div class="col-md-4">
                                                <ul *ngFor="let radioButton of radioButtons;let i = index" style="list-style-type:none;">
                                                      <li>
                                                            <div [ngClass]="radioButton.clsAttribut" style="position: relative;" (click)="selectedItem(i)">
                                                                  <input type="radio" require [name]="radioButton.name" style="position: absolute; opacity: 0;" [value]="radioButton.value">
                                                                  <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                                                            </div>&nbsp;{{radioButton.text}}&nbsp;
                                                      </li>
                                                </ul>
                                          </div>
                                          <div class="col-md-5" *ngIf="index >= 0" style="max-height:160px;">
                                                <img style="max-height:150px;" src="{{produits[index].path}}" />
                                                <h5>{{produits[index].nom}} - ({{ produits[index].prix | currency }})</h5>
                                          </div>
                                    </div><br>
                                    <div class="row">
                                          <div class="col-md-1" style="width:80px;">
                                                <label style="padding:5px;height:22px;">Total</label>
                                          </div>
                                          <div class="col-md-2">
                                                <label style="background-color:blue;color:white;padding:5px;height:28px;width:80px;">{{total
                                                      | currency}}</label>
                                          </div>
                                    </div>
                                    <div class="row" style="margin-bottom:10px;">
                                          <div class="col-md-1" style="width:80px;margin-top:8px;">
                                                <label for="depot">Monnaie</label>
                                          </div>
                                          <div class="col-md-4">
                                                <div class="input-group m-b">
                                                      <span class="input-group-addon">$</span>
                                                      <input type="text" class="form-control" name="depot" [disabled]="ProduitNotSelect" maxlength="5" #depotMontant="ngModel"
                                                            required [(ngModel)]="depot" [pattern]="decimalPattern" />
                                                </div>
                                                <div *ngIf="depotMontant.errors" style="margin-top:-15px;">
                                                      <div [hidden]="!depotMontant.errors.required || depotMontant.pristine" class="alert alert-danger">
                                                            Montant est obligatoire
                                                      </div>
                                                      <div [hidden]="!depotMontant.errors.pattern" class="alert alert-danger">
                                                            Montant doit être décimal ou digit
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="col-md-2">
                                                <button type="submit" class="btn btn-success" [disabled]="!distributriceForm.form.valid">OK</button>
                                          </div>
                                    </div>
                                    <div class="row">
                                          <div class="col-md-12">
                                                <label *ngIf="insuffisant > 0" style="color:red;">Désolé! Il manque ${{ insuffisant
                                                      | number:'1.2-2' }}</label>
                                                <label *ngIf="surplus > 0" style="color:green;">Transaction complété. Montant
                                                      à rendre de ${{ surplus | number:'1.2-2' }}</label>
                                                <label *ngIf="isMatch" style="color:green;">Transaction complété.</label>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </form>
</section>