<section>
    <div class="row show-grid" *ngIf="shoppingCartList.length > 0;else emptyCart">
        <div class="col-sm-2" style="max-height:220px;" *ngFor="let shoppingCart of shoppingCartList">
            <div>
                <img src="../assets/images/placeholder.gif" />
            </div>
            <div>{{shoppingCart.nom}}</div>
            <div>{{shoppingCart.prix | currency}}</div>
            <div>
                <input [id]="shoppingCart.id" value="1" size="4" />
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-success" (click)="onSubmit($event,shoppingCart.id)">
                    <i class="fa fa-check-square-o" style="font-size:18px;float:left;"></i>
                    <span style="margin-left:5px;font-weight:bold;font-size:12px;">Ajouter</span>
                </button>
            </div>
        </div>
    </div>
    <ng-template #emptyCart>
        <div style="color:red;">Aucun produit a été trouvé</div>
    </ng-template>
</section>