<section>
    <div class="content">
        <div class="row">
            <div class="hpanel hblue col-md-6">
                <div class="panel-heading hbuilt"><strong>Class binding</strong></div>
                <div class="panel-body">
                    <h2 [class]="successClass">Test class binging</h2>
                    <h2 [class.text-danger]="hasError">Test has error</h2>
                    <h2 [ngClass]="messageClasses">Test ngClass</h2>
                </div>
            </div>
        </div>
    </div>
</section>