@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.truncate {
  -ms-word-break: normal;
  word-break: normal;
  /* Non standard for WebKit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
      hyphens: auto;
}

