
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<select class="ui dropdown" id="sortWriter" style="margin:0 0 10px 0;">
    <option value="">Writer</option>
    <option value="1">Sort By Name</option>
    <option value="2">Sort By State</option>
</select>

<p id="result" />

@section Scripts{
   <script>
       $('.ui.dropdown').dropdown();
   </script>
}



