<article id="produitDetail">
      <form (ngSubmit)="onSubmit()" #produitForm="ngForm">
            <div class="row">
                  <div class="col-md-12">
                        <h2><em>{{isAdd? 'Ajouter':'Modifier'}} le produit</em></h2>
                  </div>
            </div>
            <div class="row">
                  <div class="hpanel hblue col-md-4">
                        <div class="panel-heading hbuilt">
                              <strong>Item</strong>
                        </div>
                        <div class="panel-body">
                              <div class="row">
                                    <div class="col-md-8">
                                          <label class="control-label" for="nom">Nom</label>&nbsp;
                                          <span style="color:red;">*</span>
                                          <input type="text" class="form-control" name="nom" #nom="ngModel" required [(ngModel)]="model.nom" [pattern]="nodigitPattern">
                                          <div *ngIf="nom.errors">
                                                <div [hidden]="!nom.errors.required || nom.pristine" class="alert alert-danger">
                                                      Nom est obligatoire
                                                </div>
                                                <div [hidden]="!nom.errors.pattern" class="alert alert-danger">
                                                      Nom contient seulement des caractères
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="row">
                                    <div class="col-md-8">
                                          <label class="control-label" for="prix">Prix</label>
                                          <input type="text" class="form-control" name="prix" #prix="ngModel" [(ngModel)]="model.prix" [pattern]="decimalPattern">
                                          <div *ngIf="prix.errors">
                                                <div [hidden]="!prix.errors.pattern" class="alert alert-danger">
                                                      Prix doit être décimal
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="row">
                                    <div class="col-md-6">
                                          <label class="control-label" for="categorie">Catégorie</label>&nbsp;
                                          <span style="color:red;">*</span>
                                          <select class="form-control" name="categorie" required #category="ngModel" [(ngModel)]="model.categorie_id">
                                                <option [disabled]="true" value="">--Sélectionner--</option>
                                                <option *ngFor="let categorie of categories" [value]="categorie.id">{{categorie.nom}}</option>
                                          </select>
                                          <div *ngIf="category.errors">
                                                <div [hidden]="!category.errors.required || category.pristine" class="alert alert-danger">Catégorie
                                                      est obligatoire
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="row">
                                    <div class="col-md-6">
                                          <label class="control-label" for="fournisseur">Fournisseur</label>&nbsp;
                                          <span style="color:red;">*</span>
                                          <select class="form-control" name="fournisseur" required #supplier="ngModel" [(ngModel)]="model.fournisseur_id">
                                                <option [disabled]="true" value="">--Sélectionner--</option>
                                                <option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur.id">{{fournisseur.nom}}</option>
                                          </select>
                                          <div *ngIf="supplier.errors">
                                                <div [hidden]="!supplier.errors.required || supplier.pristine" class="alert alert-danger">Fournisseur
                                                      est obligatoire
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="row">
                                    <div class="col-md-7">
                                          <label for="reapprovisionnement">Réapprovisionnement</label>
                                          <input type="text" class="form-control" id="reapprovisionnement" name="reapprovisionnement" #reapprovisionnement="ngModel"
                                                [(ngModel)]="model.reapprovisionnement" [pattern]="digitPattern">
                                          <div *ngIf="reapprovisionnement.errors">
                                                <div [hidden]="!reapprovisionnement.errors.pattern" class="alert alert-danger">
                                                      Quantité réapprovisionnement doit être digit
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="hpanel hblue col-md-4">
                        <div class="panel-heading hbuilt">
                              <strong>Quantité</strong>
                        </div>
                        <div class="panel-body">
                              <div class="row">
                                    <div class="col-md-8">
                                          <label for="quantiteParUnite">Par unité</label>
                                          <input type="text" class="form-control" name="quantiteParUnite" #quantiteParUnite="ngModel" [(ngModel)]="model.quantiteParUnite">
                                    </div>
                              </div>
                              <div class="row">
                                    <div class="col-md-8">
                                          <label for="qty">En stock</label>&nbsp;
                                          <input type="text" class="form-control" name="qty" #qty="ngModel" [(ngModel)]="model.quantiteEnStock" [pattern]="digitPattern">
                                          <div *ngIf="qty.errors">
                                                <div [hidden]="!qty.errors.pattern" class="alert alert-danger">
                                                      Quantité en stock doit être digit
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="row">
                                    <div class="col-md-8">
                                          <label for="quantiteCommande">Commandée</label>
                                          <input type="text" class="form-control" id="quantiteCommande" name="quantiteCommande" #quantiteCommande="ngModel" [(ngModel)]="model.quantiteCommande"
                                                [pattern]="digitPattern">
                                          <div *ngIf="quantiteCommande.errors">
                                                <div [hidden]="!quantiteCommande.errors.pattern" class="alert alert-danger">
                                                      Quantité de commande doit être digit
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="hpanel hblue col-md-4">
                        <div class="panel-heading hbuilt">
                              <strong>Discontinue</strong>
                        </div>
                        <div class="panel-body">
                              <span *ngFor="let radioButton of containerDiscontinueRadioButton;let i = index">
                                    <div [ngClass]="radioButton.clsAttribut" style="position: relative;" (click)="selectedDiscontinueItem(i)">
                                          <input type="radio" require [name]="radioButton.name" style="position: absolute; opacity: 0;" [value]="radioButton.value">
                                          <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                                    </div>&nbsp;{{radioButton.text}}&nbsp;
                              </span>
                        </div>
                  </div>
            </div>
            <div class="row" *ngIf="!isAdd">
                  <div class="hpanel hblue col-md-4">
                        <div class="panel-heading hbuilt">
                              <strong>Active</strong>
                        </div>
                        <div class="panel-body">
                              <span *ngFor="let radioButton of containerActiveRadioButton;let i = index">
                                    <div [ngClass]="radioButton.clsAttribut" style="position: relative;" (click)="selectedActiveItem(i)">
                                          <input type="radio" require [name]="radioButton.name" style="position: absolute; opacity: 0;" [value]="radioButton.value">
                                          <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                                    </div>&nbsp;{{radioButton.text}}&nbsp;
                              </span>
                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-4">
                        <button type="submit" class="btn btn-success" [disabled]="!produitForm.form.valid">
                              <i class="fa fa-check-square-o" style="font-size:24px;float:left;"></i>
                              <span style="margin-left:5px;font-weight:bold;font-size:18px;">OK</span>
                        </button>&nbsp;
                        <button class="btn btn-success" onclick="window.location.href='admin/produit';return false;">
                              <i class="fa fa-backward" style="font-size:24px;float:left;"></i>
                              <span style="margin-left:5px;font-weight:bold;font-size:18px;">BACK</span>
                        </button>
                        <div class="form-group">
                              <input type="hidden" class="form-control" id="id" [(ngModel)]="model.id" name="id">
                        </div>
                  </div>
            </div>
      </form>
</article>