<section>
      <div class="normalheader">
            <div class="hpanel">
                  <div class="panel-body">
                        <h2><em>{{isAdd? 'Ajouter':'Modifier'}} produit</em></h2>
                  </div>
            </div>
      </div>
      <form (ngSubmit)="onSubmit()" #produitForm="ngForm" class="form-horizontal">
            <div class="content">
                  <div class="row">
                        <div class="col-lg-4">
                              <div class="hpanel">
                                    <div class="panel-heading hbuilt"><strong>Information</strong></div>
                                    <div class="panel-body">
                                          <div class="form-group">
                                                <label class="control-label col-sm-3" for="nom">Nom&nbsp;<span style="color:red;">*</span></label>
                                                <div class="col-sm-9">
                                                      <input type="text" class="form-control" name="nom" #nom="ngModel" required [(ngModel)]="model.nom" [pattern]="nodigitPattern">
                                                      <div *ngIf="nom.errors">
                                                            <div [hidden]="!nom.errors.required || nom.pristine" class="alert alert-danger">
                                                                  Nom est obligatoire
                                                            </div>
                                                            <div [hidden]="!nom.errors.pattern" class="alert alert-danger">
                                                                  Nom contient seulement des caractères
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="form-group">
                                                <label class="control-label col-sm-3" for="prix">Prix</label>
                                                <div class="col-sm-9">
                                                      <input type="text" class="form-control" name="prix" #prix="ngModel" [(ngModel)]="model.prix" [pattern]="decimalPattern">
                                                      <div *ngIf="prix.errors">
                                                            <div [hidden]="!prix.errors.pattern" class="alert alert-danger">
                                                                  Prix doit être décimal
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="form-group">
                                                <label class="control-label col-sm-3" for="categorie">Catégorie&nbsp;<span
                                                            style="color:red;">*</span></label>
                                                <div class="col-sm-9">
                                                      <select class="form-control" name="categorie" required #category="ngModel" [(ngModel)]="model.categorie_id">
                                                            <option [disabled]="true" value="">--Sélectionner--</option>
                                                            <option *ngFor="let categorie of categories" [value]="categorie.id">{{categorie.nom}}</option>
                                                      </select>
                                                      <div *ngIf="category.errors">
                                                            <div [hidden]="!category.errors.required || category.pristine" class="alert alert-danger">Catégorie
                                                                  est obligatoire
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="form-group">
                                                <label class="control-label col-sm-3" for="fournisseur">Fournisseur&nbsp;<span
                                                            style="color:red;">*</span></label>
                                                <div class="col-sm-9">
                                                      <select class="form-control" name="fournisseur" required #supplier="ngModel" [(ngModel)]="model.fournisseur_id">
                                                            <option [disabled]="true" value="">--Sélectionner--</option>
                                                            <option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur.id">{{fournisseur.nom}}</option>
                                                      </select>
                                                      <div *ngIf="supplier.errors">
                                                            <div [hidden]="!supplier.errors.required || supplier.pristine" class="alert alert-danger">Fournisseur
                                                                  est obligatoire
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="form-group">
                                                <label for="reapprovisionnement" class="control-label col-sm-4">Réapprovisionnement</label>
                                                <div class="col-sm-8">
                                                      <input type="text" class="form-control" id="reapprovisionnement" name="reapprovisionnement" #reapprovisionnement="ngModel"
                                                            [(ngModel)]="model.reapprovisionnement" [pattern]="digitPattern">
                                                      <div *ngIf="reapprovisionnement.errors">
                                                            <div [hidden]="!reapprovisionnement.errors.pattern" class="alert alert-danger">
                                                                  Quantité réapprovisionnement doit être digit
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="col-lg-4">
                              <div class="hpanel">
                                    <div class="panel-heading hbuilt"><strong>Quantité</strong></div>
                                    <div class="panel-body">
                                          <div class="form-group">
                                                <label for="quantiteParUnite" class="control-label col-sm-3">Par unité</label>
                                                <div class="col-sm-9">
                                                      <input type="text" class="form-control" name="quantiteParUnite" #quantiteParUnite="ngModel" [(ngModel)]="model.quantite_par_unite">
                                                </div>
                                          </div>
                                          <div class="form-group">
                                                <label for="qty" class="control-label col-sm-3">En stock</label>
                                                <div class="col-sm-9">
                                                      <input type="text" class="form-control" name="qty" #qty="ngModel" [(ngModel)]="model.quantite_en_stock" [pattern]="digitPattern">
                                                      <div *ngIf="qty.errors">
                                                            <div [hidden]="!qty.errors.pattern" class="alert alert-danger">
                                                                  Quantité en stock doit être digit
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="form-group">
                                                <label for="quantiteCommande" class="col-sm-3">Commandée</label>
                                                <div class="col-sm-9">
                                                      <input type="text" class="form-control" id="quantiteCommande" name="quantiteCommande" #quantiteCommande="ngModel" [(ngModel)]="model.quantite_commande"
                                                            [pattern]="digitPattern">
                                                      <div *ngIf="quantiteCommande.errors">
                                                            <div [hidden]="!quantiteCommande.errors.pattern" class="alert alert-danger">
                                                                  Quantité de commande doit être digit
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="col-lg-4" *ngIf="!isAdd">
                              <div class="row">
                                    <div class="col-lg-12">
                                          <div class="hpanel">
                                                <div class="panel-heading hbuilt"><strong>Discontinue</strong></div>
                                                <div class="panel-body">
                                                      <span *ngFor="let radioButton of containerDiscontinueRadioButton;let i = index">
                                                            <div [ngClass]="radioButton.clsAttribut" style="position: relative;" (click)="selectedDiscontinueItem(i)">
                                                                  <input type="radio" require [name]="radioButton.name" style="position: absolute; opacity: 0;" [value]="radioButton.value">
                                                                  <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                                                            </div>&nbsp;{{radioButton.text}}&nbsp;
                                                      </span>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="row">
                                    <div class="col-lg-12">
                                          <div class="hpanel">
                                                <div class="panel-heading hbuilt"><strong>Active</strong></div>
                                                <div class="panel-body">
                                                      <span *ngFor="let radioButton of containerActiveRadioButton;let i = index">
                                                            <div [ngClass]="radioButton.clsAttribut" style="position: relative;" (click)="selectedActiveItem(i)">
                                                                  <input type="radio" require [name]="radioButton.name" style="position: absolute; opacity: 0;" [value]="radioButton.value">
                                                                  <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                                                            </div>&nbsp;{{radioButton.text}}&nbsp;
                                                      </span>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-lg-12">
                              <button type="submit" class="btn btn-success" [disabled]="!produitForm.form.valid">
                                    <i class="fa fa-check-square-o" style="font-size:24px;float:left;"></i>
                                    <span style="margin-left:5px;font-weight:bold;font-size:18px;">OK</span>
                              </button>&nbsp;
                              <button class="btn btn-success" onclick="window.location.href='admin/produit';return false;">
                                    <i class="fa fa-backward" style="font-size:24px;float:left;"></i>
                                    <span style="margin-left:5px;font-weight:bold;font-size:18px;">BACK</span>
                              </button>
                              <input type="hidden" id="id" [(ngModel)]="model.id" name="id">
                        </div>
                  </div>
            </div>
      </form>
</section>